@mixin flex ($display, $jc, $ai) {
    display: $display;
    justify-content: $jc;
    align-items: $ai;
}

@mixin square ($colorSquare) {
    width: 12px;
    height: 12px;
    background-color: $colorSquare;
    margin-right: 11px;
    margin-top: 5px;
}